{% extends "base.html" %}

{% block header %}
<h1>Home</h1>
{% endblock %}

{% block content %}
<div class="home">
    {% for book in books %}
    <div class="{% cycle 'lightTheme' 'darkTheme' %}">
        <a href="{% url 'detail_book' book.id %}">
            <h2>{{book.title}}</h2>
        </a>
    </div>
    {% endfor %}
</div>
<div class="pagination">
    {% if page_obj.has_previous %}
    <a class="prev" href="?page={{ page_obj.previous_page_number }}">&lt;&lt;</a>
    {% endif %}
    Page <span class="current">{{ page_obj.number }}</span> of <span class="allPages">{{ page_obj.paginator.num_pages }}</span>
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">&gt;&gt;</a>
    {% endif %}
</div>
{% endblock %}

{% block footer %}
<footer class="footer">
    <h3>This is Footer in Home</h3>
</footer>
{% endblock %}